body
{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #83BAFF;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

h1
{
    font-weight: 100;
    font-size: 4.6rem;
    margin: 0;
    padding-top: 0.75rem;
}
        
p
{
    margin: 0;
    color: #adadad;
}